.card-container {
    background-color: white !important;
    border-radius: 15px;
    padding-top:10px;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:35px;
    margin-top:10%;
    font-family:'Poppins', 'sans-serif';
    width: 40%;
    justify-self: center;
}

.card-container button{
    background-color: #8B5CF6;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right: 25px;
    font-family: 'Poppins', 'sans-serif';
    border-radius: 10px;
    border: 0;
    font-size: 14x;
}

.card-container p {
    color:#94A388;
    font-size:15px;
    padding-bottom:10px;
    background-color: white ;
}

.card-container h1 {
    color:#1E293B;
    font-size: 30px;
    margin: 0;
    background-color: white;
}
